@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Sacramento-Regular.ttf');
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 5px solid #e10e50;
  padding-top: 1.5%;
}

h1, h2, h3, h4 {
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-weight: 300;
  color: #e10e50;
}

#lafb-logo {
  width: 25%;
}

p {
  font-family: 'Raleway';
}

p#alert {
  color: #b00037;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav ul a {
  padding: 5% 2.5%;
  text-decoration: none;
}

nav ul li {
  font-family: 'Raleway', sans-serif;
  list-style: none;
}

a, a:visited {
  color: #000000;
}

a:hover {
  color: #e10e50;
}

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #e10e50;
}

footer h2 {
  font-size: 2.5em;
}

#social-and-policies p {
  display: flex;
  justify-content: space-around;
}

.social-media {
  width: 10%;
  padding: 10px;
}

.social-media:hover {
  stroke: #e10e50;
}



/* MEDIA QUERIES */
@media (min-width: 1200px) {
  header {
    width: 85vw;
  }

  nav ul a {
    padding: 2.5% 5vw;
  }

  .social-media {
    width: 2.5vw;
    height: auto;
  }
}
